
@{
    ViewData["Title"] = "Index";
}

<div class="section-header">
    <h1>Settings</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item">Settings</div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">Cercos</h2>
    <p class="section-lead">
        Gerencie seus cercos
    </p>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="float-right">
                <a href="#" class="btn btn-dark btn-icon">
                    <i class="far fa-edit"></i>
                </a>
                <a href="#" class="btn btn-dark btn-icon">
                    <i class="far fa-edit"></i>
                </a>
                <a href="#" class="btn btn-dark btn-icon">
                    <i class="far fa-edit"></i>
                </a>
            </div>
        </div>
    </div>
</div>
