@{
    ViewData["Title"] = "Inicio";
}

<div class="section-header">
    <h1>@ViewData["Title"]</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active">Dashboard</div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">Dashboard Padrão</h2>
    <div class="card">
        <div class="card-header">
            <h4>Dashboard Padrão</h4>
        </div>
    </div>
</div>