@{
    ViewData["Title"] = "Inicio";
}

<div class="section-header">
    <h1>@ViewData["Title"]</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active">Dashboard</div>
    </div>
</div>

<div class="section-body">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-hero">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="fas fa-cubes"></i>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="tickets-list">
                        <div class="ticket-item">
                            <h1>Puff Premium</h1>
                        </div>
                        <div class="ticket-item">
                            <h4>Libere o potencial que sua empresa precisa, acompanhe toda sua janela de clientes a quente.</h4>
                        </div>
                        <div class="ticket-item">
                            <a href="documentation.html" class="btn btn-primary btn-lg btn-icon-split btn-block">
                                <i class="fas fa-hand-point-right"></i> <div>Garanta já o upgrade da sua conta</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-large-icons">
                <div class="card-icon bg-primary text-white">
                    <i class="fas fa-hourglass-start"></i>
                </div>
                <div class="card-body">
                    <h4>Start</h4>
                    <p>Configurações iniciais</p>
                    <a href="features-setting-detail.html" class="card-cta">configurar <i class="fas fa-hand-point-right"></i></a>
                </div>
            </div>
            <div class="card card-large-icons">
                <div class="card-icon bg-primary text-white">
                    <i class="fas fa-store"></i>
                </div>
                <div class="card-body">
                    <h4>Loja</h4>
                    <p>Configurações iniciais</p>
                    <a href="features-setting-detail.html" class="card-cta">configurar <i class="fas fa-hand-point-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-large-icons">
                <div class="card-icon bg-primary text-white">
                    <i class="fas fa-campground"></i>
                </div>
                <div class="card-body">
                    <h4>Cercos</h4>
                    <p>Subir acampamento</p>
                    <a href="features-setting-detail.html" class="card-cta text-primary">configurar <i class="fas fa-hand-point-right"></i></a>
                </div>
            </div>
            <div class="card card-large-icons">
                <div class="card-icon bg-primary text-white">
                    <i class="fas fa-street-view"></i>
                </div>
                <div class="card-body">
                    <h4>Acompanhar</h4>
                    <p>Configurações iniciais</p>
                    <a href="features-setting-detail.html" class="card-cta">configurar <i class="fas fa-hand-point-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>