@model papuff.backoffice.Models.Request.GuideRequest

@{
    ViewData["Title"] = "Primeiros Passos";
}

<div class="section-header">
    <h1>Ajustes Iniciais</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item"><a asp-action="Index">Inicio</a></div>
        <div class="breadcrumb-item active">Ajustes</div>
    </div>
</div>

<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-4">
                        <div class="col-12 col-lg-8 offset-lg-2">
                                <ul class="nav nav-pills wizard-steps"  role="tablist">
                                    <li class="nav-item wizard-step" style="padding:0px;">
                                        <a class="nav-link active show" id="home-tab3" data-toggle="tab" href="#home3" role="tab" aria-controls="home" aria-selected="true" style="padding: 30px;">
                                            <div class="wizard-step-icon">
                                                <i class="fas fa-crown" style="font-size: 34px; margin-bottom: 15px;"></i>
                                            </div>
                                            <div class="wizard-step-label">
                                                Meu Reino
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item wizard-step" style="padding:0px;">
                                        <a class=" nav-link" id="profile-tab3" data-toggle="tab" href="#profile3" role="tab" aria-controls="profile" aria-selected="false" style="padding: 30px;">
                                            <div class="wizard-step-icon">
                                                <i class="fas fa-dungeon" style="font-size: 34px; margin-bottom: 15px;"></i>
                                            </div>
                                            <div class="wizard-step-label">
                                                Tesouro
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item wizard-step" style="padding:0px;">
                                        <a class=" nav-link" id="contact-tab3" data-toggle="tab" href="#contact3" role="tab" aria-controls="contact" aria-selected="false" style="padding: 30px;">
                                            <div class="wizard-step-icon">
                                                <i class="fas fa-theater-masks" style="font-size: 34px; margin-bottom: 15px;"></i>
                                            </div>
                                            <div class="wizard-step-label">
                                                Atividades
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item wizard-step" style="padding:0px;">
                                        <a class=" nav-link" id="contact-tab3" data-toggle="tab" href="#contact4" role="tab" aria-controls="contact" aria-selected="false" style="padding: 30px;">
                                            <div class="wizard-step-icon">
                                                <i class="fas fa-street-view" style="font-size: 34px; margin-bottom: 15px;"></i>
                                            </div>
                                            <div class="wizard-step-label">
                                                Cerco
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    </div>

                    <div class="tab-content" id="myTabContent2">
                        <div class="tab-pane fade active show" id="home3" role="tabpanel" aria-labelledby="home-tab3">
                            <form class="wizard-content mt-2 needs-validation" asp-action="KingdomPost" id="setting-form" asp-controller="Home" asp-anti-forgery novalidate="" data-ajax="true" data-ajax-method="POST" data-ajax-failure="FormOnFail" data-ajax-success="window.location = '/Home/Treasure'">
                                <div class="wizard-pane">
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-4 text-md-right text-left">Como se chama o reino?</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="text" placeholder="Mega Costela" required asp-for="Name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-4 text-md-right text-left">Quem é o responsável pelas cartas?</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="email" placeholder="julius.o.carteiro@megacostela.br" required asp-for="Email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-4 text-md-right text-left">Informe o CNPJ?</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="text" placeholder="86328400000146" required asp-for="CNPJ" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 text-md-right text-left mt-2">Como vão entrar no reino?</label>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="selectgroup w-100">
                                                <label class="selectgroup-item">
                                                    <input type="radio" asp-for="Type" value="@EntryType.Ticket" class="selectgroup-input">
                                                    <span class="selectgroup-button">Ingresso</span>
                                                </label>
                                                <label class="selectgroup-item">
                                                    <input type="radio" asp-for="Type" value="@EntryType.OrderPad" class="selectgroup-input">
                                                    <span class="selectgroup-button">Comanda</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4"></div>
                                        <div class="col-lg-4 col-md-6 text-right">
                                            <button type="submit" class="btn btn-icon icon-right btn-primary">Avançar <i class="fas fa-hand-point-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="profile3" role="tabpanel" aria-labelledby="profile-tab3">
                            <form class="wizard-content mt-2 needs-validation" asp-action="TreasurePost" id="setting-form" asp-controller="Home" asp-anti-forgery novalidate="" data-ajax="true" data-ajax-method="POST" data-ajax-failure="FormOnFail" data-ajax-success="window.location = '/Home/Treasure'">
                                <div class="wizard-pane">
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-4 text-md-right text-left">Informe a conta para guardar o ouro?</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="text" required asp-for="Agency" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-4 text-md-right text-left">Agencia também?</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="text" required asp-for="Account" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-4 text-md-right text-left">Informe o CPF vinculado</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="text" required asp-for="CPF" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 text-md-right text-left mt-2">Agora é só escolher o dia de recebimento</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="number" required asp-for="DateDue" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4"></div>
                                        <div class="col-lg-4 col-md-6 text-right">
                                            <button type="submit" class="btn btn-icon icon-right btn-primary">Avançar <i class="fas fa-hand-point-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab3">
                            <form class="wizard-content mt-2 needs-validation" asp-action="TreasurePost" id="setting-form" asp-controller="Home" asp-anti-forgery novalidate="" data-ajax="true" data-ajax-method="POST" data-ajax-failure="FormOnFail" data-ajax-success="window.location = '/Home/Treasure'">
                                <div class="wizard-pane">
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-4 text-md-right text-left">Informe a conta para guardar o ouro?</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="text" required asp-for="Agency" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-4 text-md-right text-left">Agencia também?</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="text" required asp-for="Account" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-4 text-md-right text-left">Informe o CPF vinculado</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="text" required asp-for="CPF" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 text-md-right text-left mt-2">Agora é só escolher o dia de recebimento</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="number" required asp-for="DateDue" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4"></div>
                                        <div class="col-lg-4 col-md-6 text-right">
                                            <button type="submit" class="btn btn-icon icon-right btn-primary">Avançar <i class="fas fa-hand-point-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="contact4" role="tabpanel" aria-labelledby="contact-tab4">
                            <form class="wizard-content mt-2 needs-validation" asp-action="TreasurePost" id="setting-form" asp-controller="Home" asp-anti-forgery novalidate="" data-ajax="true" data-ajax-method="POST" data-ajax-failure="FormOnFail" data-ajax-success="window.location = '/Home/Treasure'">
                                <div class="wizard-pane">
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-4 text-md-right text-left">Informe a conta para guardar o ouro?</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="text" required asp-for="Agency" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-4 text-md-right text-left">Agencia também?</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="text" required asp-for="Account" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-4 text-md-right text-left">Informe o CPF vinculado</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="text" required asp-for="CPF" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 text-md-right text-left mt-2">Agora é só escolher o dia de recebimento</label>
                                        <div class="col-lg-4 col-md-6">
                                            <input type="number" required asp-for="DateDue" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4"></div>
                                        <div class="col-lg-4 col-md-6 text-right">
                                            <button type="submit" class="btn btn-icon icon-right btn-primary">Avançar <i class="fas fa-hand-point-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}